#fact {
    display: none;
}
#entry {
    display: none;
}
#four_nation {
    display: none;
}
#china {
    position: inline-block;
}
#unemployed {
    display: none;
}
#people {
    display: none;
}
#sob_story {
    display: none;
}